
.error-msg{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    color: white;
    opacity: .8;
    text-align: center;
    height: 200px;
}

.error-msg svg{
    width: 100px;
    height: 100px;
}